@tailwind base;
@tailwind components;
@tailwind utilities;
nav{
    transition: .4s;
  }
  
  nav .title{
    font-size: 1.2em;
    margin: .5em 1em;
    color: #303032;
    font-weight: bold;
    text-decoration: none;
    color: #dedfe1;
    /*
    */
  }
  
  nav ul{
    display: flex;
    padding: 0;
  }
  nav ul li{
    list-style: none;
  }
  nav ul li a{
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    color: #dedfe1;
    /*
    color: #303032;
    */
  }
  nav ul li a:not(.active):hover{
    background-color: #dedfe1;
    color: #303032;
  }
  
  nav .menu i{
    color: #dedfe1;
    font-size: xx-large;
    padding: .2rem;
    margin: .1rem;
    cursor: pointer;
  }
  
  
  nav .menu{
    display: none;
    position: absolute;
    top: 0;
    right: .5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
  }
  nav menu span{
    height: 0.4rem;
    width: 100%;
    background-color: white;
    border-radius: .2rem;
  }
  @media (max-width: 750px) {
    nav .menu{
        display: flex;
    }
    nav{
        flex-direction: column;
        align-items: start;
    }
    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: .25rem;
    }
    nav ul.open{
      border-bottom: 1px solid rgba(170, 170, 170, 0.5);
      display: flex;
    }
    nav ul li{
        width: 100%;
        text-align: center;
    }
    nav ul li a{
        margin: .2rem .5rem;
    }
  }
  
  @media (max-width: 480px) {
    nav .menu{
        display: flex;
    }
    nav{
        flex-direction: column;
        align-items: start;
    }
    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: .25rem;
    }
    nav ul.open{
        display: flex;
        border-bottom: 1px solid rgba(170, 170, 170, 0.8);
        
    }
    nav ul li{
        width: 100%;
        text-align: center;
    }
    nav ul li a{
        margin: .2rem .5rem;
    }
  }